#uber-estimates {
  width: 300px;
}

.address-input {
  padding: 9px; 
  border: solid 1px #E5E5E5; 
  outline: 0; 
  font: normal 10px/100% Verdana, Tahoma, sans-serif; 
  width: 300px; 
  background: #FFFFFF;
  margin-bottom: 9px; 
}

.address-input:focus {
  border-color: #C9C9C9; 
}

.get-estimate-button {
  width: auto; 
  padding: 9px 15px; 
  background: #617798; 
  border: 0; 
  font-size: 10px; 
  color: #FFFFFF; 
  margin-bottom: 9px;
}

.estimates-table {
  margin-top: 20px;
}

.formatted-address {
  padding: 9px; 
  border: solid 1px #E5E5E5; 
  outline: 0; 
  font: normal 10px/100% Verdana, Tahoma, sans-serif; 
  width: 300px; 
  background: #FFFFFF;
  margin-bottom: 9px;
  color: red;
}

table {
  font-family: 'Serif';
  margin: 0px auto;
  border-collapse: collapse;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  margin-bottom: 10px;
}
table tr:hover {
  background: #0073e6;
}
table tr:hover td {
  color: #555;
}
table th, table td {
  color: #0073e6;
  border: 1px solid #eee;
  padding: 8px 8px;
  border-collapse: collapse;
}
table th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
}
table th.last {
  border-right: none;
}


tbody:hover > tr td {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

tbody:hover > tr:hover td {
  text-shadow: none;
  color: #ffd700;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/**
 * The geosuggest module
 */
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}
.geosuggest-item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}